eth-brownie>=1.18.1
web3>=5.23.1,<5.29
click>=7.1.2
tabulate>=0.8.7
joblib>=1.0.1
cachetools>=4.1.1
fastapi>=0.109.1
uvicorn>=0.13.4
sqlmodel>=0.0.4
psycopg2-binary>=2.8.5
tokenlists>=0.1.0b0
aiofiles>=0.6.0
semantic-version>=2.8.5
boto3==1.17.88
rich>=10.11.0
matplotlib>=3.4.3
pandas>=1.3.0
pony>=0.6.7
sqlalchemy>=1.4.26
sentry-sdk>=1.5.1
pytest-bdd>=5.0.0
eth_retry>=0.1.1
eth-hash[pysha3]
python-telegram-bot==13.15
ypricemagic==1.10.34
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
black>=24.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
eth-abi>=5.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
eth-keyfile>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
pycryptodome>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
tqdm>=4.66.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
vyper>=0.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
